<a href="https://colab.research.google.com/github/restipamuji/Data-Frame-With-Python-/blob/main/Resti_Pamuji_1800015071_Tugas_Data_Frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

## Variabel dataset

Variabel-variabel yang terdapat pada dataset ini adalah sebagai berikut:
1. **order_id** = Nomor ID pembelian(nota)
2. **order_data** = Tanggal pembelian
3. **customer_id** = Nomor ID pembeli
4. **segment** = Segmen produk 
5. **category** = Kategori produk
6. **sub_category** = Sub kategori produk
7. **sales** = Total harga pembelian
8. **quantity** = Jumlah produk dibeli
9. **profit** = Keuntungan

#Tugas Individu


1. Tentukan Segment mana dengan profit tertinggi!  [30]
2. Tentukan Category mana dengan sales terbanyak!  [30]
3. Tentukan Sub-Category dengan quantity paling sedikit! [40]





4. **Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!** 

Bonus Nilai 100 di Salah Satu Tugas Lainnya

#Library

In [ ]:
import pandas as pd
import numpy as np

#Dataset

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

##Penyelesaian

####1. Tentukan segment mana dengan profit tertinggi !

In [ ]:
#Akan dilihat segment apa saja yg ada 
df.segment.value_counts()

Consumer       5188
Corporate      3019
Home Office    1781
Name: segment, dtype: int64

In [ ]:
#Akan dipilih masing-masing segment 
df_Consumer=df[df['segment']=='Consumer']
df_Corporate=df[df['segment']=='Corporate']
df_Home_Office=df[df['segment']=='Home Office']

In [ ]:
df_Consumer.profit.sum()

128959.22080000001

In [ ]:
df_Corporate.profit.sum()

83579.158

In [ ]:
df_Home_Office.profit.sum()

58189.7681

Dari perhitungan python diatas dapaat diperoleh kesimpulan bahwa segment produk dengan total keuntungan tertinggi adalah Consumer

####2. Tentukan Category mana dengan sales terbanyak!

In [ ]:
#Akan dipilih category apa saja yang ada 
df.category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1841
Name: category, dtype: int64

In [ ]:
#Akan dipilih masinng-masing category 
df_Office_Supplies=df[df['category']=='Office Suplies']
df_Furniture=df[df['category']=='Furniture']
df_Techology=df[df['category']=='Technology']

In [ ]:
df_Office_Supplies.sales.sum()

0.0

In [ ]:
df_Office_Supplies.sales.sum()

0.0

In [ ]:
df_Furniture.sales.sum()

741999.7953

Dari perhitungan menggunakan python diatas dapat diperoleh kesimpulan bahwa kategori produk dengan total harga pembelian terbanyak adalah teknologi

####3. Tentukan Sub-Category dengan quantity paling sedikit!

In [ ]:
#Akan dilihat sub-category apa saja yang ada 
df.sub_category.value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        113
Copiers          64
Name: sub_category, dtype: int64

In [ ]:
#Memilih masing2 sub-category 
df_Binders=df[df['sub_category']=='Binders']
df_Paper=df[df['sub_category']=='Paper']
df_Furnishings=df[df['sub_category']=='Furnishings']
df_Phones=df[df['sub_category']=='Phones']
df_Storage=df[df['sub_category']=='Storage']
df_Art=df[df['sub_category']=='Art']
df_Accessories=df[df['sub_category']=='Accessories']
df_Chairs=df[df['sub_category']=='Chairs']
df_Appliances=df[df['sub_category']=='Appliances']
df_Labels=df[df['sub_category']=='Labels']
df_Tables=df[df['sub_category']=='Tables']
df_Envelopes=df[df['sub_category']=='Envelopes']
df_Bookcases=df[df['sub_category']=='Bookcases']
df_Fasteners=df[df['sub_category']=='Fasteners']
df_Supplies=df[df['sub_category']=='Supplies']
df_Machines=df[df['sub_category']=='Machines']
df_Copiers=df[df['sub_category']=='Copiers']

In [ ]:
df_Binders.quantity.sum()

5974

In [ ]:
df_Paper.quantity.sum()

5178

In [ ]:
df_Furnishings.quantity.sum()

3563

In [ ]:
df_Phones.quantity.sum()

3289

In [ ]:
df_Storage.quantity.sum()

3158

In [ ]:
df_Art.quantity.sum()

3000

In [ ]:
df_Accessories.quantity.sum()

2976

In [ ]:
df_Chairs.quantity.sum()

2356

In [ ]:
df_Appliances.quantity.sum()

1729

In [ ]:
df_Labels.quantity.sum()

1400

In [ ]:
df_Tables.quantity.sum()

1241

In [ ]:
df_Envelopes.quantity.sum()

906

In [ ]:
df_Bookcases.quantity.sum()

868

In [ ]:
df_Fasteners.quantity.sum()

914

In [ ]:
df_Supplies.quantity.sum()

647

In [ ]:
df_Machines.quantity.sum()

429

In [ ]:
df_Copiers.quantity.sum()

218

Dari perhitungan data diatas dapat diperoleh kesimpulan bahwa sub kategori produk dengan total jumlah produk dibeli paling sedikit adalah Copiers